# 0 Begin chapter

## 0.1. install

In [7]:
!python -m pip install pandas pyarrow nltk ratelimit

Requirement already satisfied: pandas in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (2.0.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (12.0.1)
Requirement already satisfied: nltk in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: ratelimit in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\f999145\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: click in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\f999145\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: six>=1.5 in c:\users\f999145\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\f999145\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)

## 0.2. Import

In [1]:
import pandas as pd
import numpy as np
import sys
import json
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import MinMaxScaler
from ratelimit import limits
from config import api_key_mapquests
import requests
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import clear_output
from tqdm.notebook import tqdm
tqdm.pandas()
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 16 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [4]:
sys.version
# '3.11.6 (tags/v3.11.6:8b6ee5b, Oct  2 2023, 14:57:12) [MSC v.1935 64 bit (AMD64)]'

'3.11.6 (tags/v3.11.6:8b6ee5b, Oct  2 2023, 14:57:12) [MSC v.1935 64 bit (AMD64)]'

## 0.3. convert csv to parquet

In [2]:
hotels = pd.read_csv('data/hotels.zip')
# hotels.to_parquet('data/hotels_parquet.gzip', engine='pyarrow', compression='gzip')

## 0.4. Functions

In [3]:
hotels = hotels.convert_dtypes()

In [4]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  string
 1   additional_number_of_scoring                386803 non-null  Int64
 2   review_date                                 386803 non-null  string
 3   average_score                               386803 non-null  Float64
 4   hotel_name                                  386803 non-null  string
 5   reviewer_nationality                        386803 non-null  string
 6   negative_review                             386803 non-null  string
 7   review_total_negative_word_counts           386803 non-null  Int64
 8   total_number_of_reviews                     386803 non-null  Int64
 9   positive_review                             386803 non-null  string
 10  review_total_positive_word_counts           386803 non-null  Int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  Int64
 12  reviewer_score                              386803 non-null  Float64
 13  tags                                        386803 non-null  string
 14  days_since_review                           386803 non-null  string
 15  lat                                         384355 non-null  Float64
 16  lng                                         384355 non-null  Float64
dtypes: Float64(4), Int64(5), string(8)
memory usage: 53.5 MB

## 0.5. INFO
---
- hotel_address — адрес отеля;
- review_date — дата, когда рецензент разместил соответствующий отзыв;
- average_score — средний балл отеля, рассчитанный на основе последнего комментария за последний год;
- hotel_name — название отеля;
- reviewer_nationality — страна рецензента;
- negative_review — отрицательный отзыв, который рецензент дал отелю;
- review_total_negative_word_counts — общее количество слов в отрицательном отзыв;
- positive_review — положительный отзыв, который рецензент дал отелю;
- review_total_positive_word_counts — общее количество слов в положительном отзыве.
- reviewer_score — оценка, которую рецензент поставил отелю на основе своего опыта;
- total_number_of_reviews_reviewer_has_given — количество отзывов, которые рецензенты дали в прошлом;
- total_number_of_reviews — общее количество действительных отзывов об отеле;
- tags — теги, которые рецензент дал отелю;
- days_since_review — количество дней между датой проверки и датой очистки;
- additional_number_of_scoring — есть также некоторые гости, которые просто поставили оценку сервису, но не оставили отзыв. Это число указывает, сколько там действительных оценок без проверки.
- lat — географическая широта отеля;
- lng — географическая долгота отеля.
---

# 1 Исследование данных

## 1.1. Отделение Категориальных признаков

In [5]:
resolution = hotels.shape[0]
tmp_cols = (
            hotels
            .nunique()
            .sort_values(ascending=False)
            .to_frame(name='count')
            .assign(frec=lambda x: round(100*x['count']/resolution).astype('UInt8'))
            )

cat_cols = (
            tmp_cols
            .query('frec < 20')
            .index
            .to_list()
            )

other_cols = (
                tmp_cols
                .query('frec >= 20')
                .index
                .to_list()
                )

print(f'cat_cols: {len(cat_cols)}; other_cols: {len(other_cols)}')

cat_cols: 15; other_cols: 2

## 1.2. Преобразование Категориальных признаков

### 1.2.1. Преобразование типов Object

In [6]:
object_cols = hotels[cat_cols].select_dtypes(include='string').columns.to_list()
# other_cat_cols = [x for x in cat_cols if x not in object_cols]
other_cat_cols = list(filter(lambda x: x not in object_cols, cat_cols))

hotels[object_cols].head()

,tags,hotel_address,hotel_name,days_since_review,review_date,reviewer_nationality
0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",Stratton Street Mayfair Westminster Borough Lo...,The May Fair Hotel,531 day,2/19/2016,United Kingdom
1,"[' Business trip ', ' Couple ', ' Standard Dou...",130 134 Southampton Row Camden London WC1B 5AF...,Mercure London Bloomsbury Hotel,203 day,1/12/2017,United Kingdom
2,"[' Leisure trip ', ' Solo traveler ', ' Modern...",151 bis Rue de Rennes 6th arr 75006 Paris France,Legend Saint Germain by Elegancia,289 day,10/18/2016,China
3,"[' Leisure trip ', ' Solo traveler ', ' Standa...",216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,Mercure Paris 19 Philharmonie La Villette,681 day,9/22/2015,United Kingdom
4,"[' Business trip ', ' Couple ', ' Standard Dou...",Molenwerf 1 1014 AG Amsterdam Netherlands,Golden Tulip Amsterdam West,516 day,3/5/2016,Poland

In [7]:
# Преобразование столбца "tags"
hotels['tags'] = hotels['tags'].str.replace('\'','\"' ).apply(lambda x: json.loads(x))

# Преобразование признака "days_since_review"
hotels['days_since_review'] = hotels['days_since_review'].str.extract('(\d+) day', expand=False).astype('UInt16')

# Преобразование признака "review_date"
hotels['review_date'] = pd.to_datetime(hotels['review_date'])

# Преобразование признака  "reviewer_nationality"
hotels['hotel_name'] = hotels['hotel_name'].str.strip().replace('', np.nan)
category_order_list = sorted([x for x in hotels['hotel_name'].unique() if not pd.isnull(x)])
hotels['hotel_name'] = hotels['hotel_name'].astype('category').cat.set_categories(category_order_list, ordered=True)

# Преобразование признака  "reviewer_nationality"
hotels['reviewer_nationality'] = hotels['reviewer_nationality'].str.strip().replace('', np.nan)
category_order_list = sorted([x for x in hotels['reviewer_nationality'].unique() if not pd.isnull(x)])
hotels['reviewer_nationality'] = hotels['reviewer_nationality'].astype('category').cat.set_categories(category_order_list, ordered=True)

# Преобразование признака "hotel_address"
hotels['hotel_address'] = hotels['hotel_address'].astype('string')

### 1.2.2. Преобразование типов других типов

In [8]:
hotels[other_cat_cols].head()

,lat,lng,total_number_of_reviews,additional_number_of_scoring,review_total_negative_word_counts,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,average_score
0,51.507894,-0.143671,1994,581,3,4,7,10.0,8.4
1,51.521009,-0.123097,1361,299,3,2,14,6.3,8.3
2,48.845377,2.325643,406,32,6,0,14,7.5,8.9
3,48.888697,2.39454,607,34,0,11,8,10.0,7.5
4,52.385601,4.84706,7586,914,4,20,10,9.6,8.5

In [9]:
hotels['lat'] = hotels['lat'].astype('Float32')
hotels['lng'] = hotels['lng'].astype('Float32')
hotels['total_number_of_reviews'] = hotels['total_number_of_reviews'].astype('UInt16')
hotels['additional_number_of_scoring'] = hotels['additional_number_of_scoring'].astype('UInt16')
hotels['review_total_negative_word_counts'] = hotels['review_total_negative_word_counts'].astype('UInt16')
hotels['review_total_positive_word_counts'] = hotels['review_total_positive_word_counts'].astype('UInt16')
hotels['total_number_of_reviews_reviewer_has_given'] = hotels['total_number_of_reviews_reviewer_has_given'].astype('UInt16')
hotels['reviewer_score'] = hotels['reviewer_score'].astype('Float32')
hotels['average_score'] = hotels['average_score'].astype('Float32')

In [10]:
hotels[other_cat_cols].head()

,lat,lng,total_number_of_reviews,additional_number_of_scoring,review_total_negative_word_counts,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,average_score
0,51.507893,-0.143671,1994,581,3,4,7,10.0,8.4
1,51.521008,-0.123097,1361,299,3,2,14,6.3,8.3
2,48.845379,2.325643,406,32,6,0,14,7.5,8.9
3,48.888699,2.39454,607,34,0,11,8,10.0,7.5
4,52.385601,4.84706,7586,914,4,20,10,9.6,8.5

In [30]:
hotels['negative_review'] = hotels['negative_review'].astype('string').str.strip().str.lower()
hotels['positive_review'] = hotels['positive_review'].astype('string').str.strip().str.lower()

In [31]:
# hotels.to_parquet('data/hotels.gzip', engine='pyarrow', compression='gzip')
hotels = pd.read_parquet('data/hotels.gzip')

In [15]:
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2016-02-19,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[ Leisure trip , Couple , Studio Suite , St...",531,51.507893,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,2017-01-12,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[ Business trip , Couple , Standard Double R...",203,51.521008,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,2016-10-18,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[ Leisure trip , Solo traveler , Modern Doub...",289,48.845379,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,2015-09-22,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[ Leisure trip , Solo traveler , Standard Ro...",681,48.888699,2.39454
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,2016-03-05,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[ Business trip , Couple , Standard Double o...",516,52.385601,4.84706

### 1.2.3. Работа с признаком "Tags"

In [15]:
# tags_unique_list = dict(zip(a:=(
#                             hotels['tags']
#                             .explode()
#                             .str.strip()
#                             # .unique()
#                             .value_counts()
#                             .to_frame()
#                             .assign(count=lambda x: x['count']/hotels.shape[0])
#                             .query('count > 0.01')
#                             .index
#                             ),
#                             [False]*len(a)
#                             ))


 
# def get_dummis_table(row: pd.Series, tags_unique_list: dict):
#     """
    
#     """
#     import pandas as pd
#     tmp_dict =tags_unique_list.copy()
#     for item in list(map(lambda x: x.strip(), row)):
#         if item in tmp_dict.keys():
#             tmp_dict[item] = True
#     return pd.Series(tmp_dict)


# hotels = pd.concat((hotels, hotels['tags'].parallel_apply(get_dummis_table, args=(tags_unique_list,))), axis=1)
# clear_output()
# hotels.shape

(386803, 51)

### 1.2.3. Работа с отзывами.

In [47]:
hotels['positive_review'] = hotels['positive_review'].replace('', None)

In [50]:
# hotels['negative_review'].value_counts(dropna=False).head(20)
with pd.option_context("display.max_columns", 500, "display.max_rows", 500,):
    display(hotels['positive_review'].value_counts().head(500))

positive_review
no positive                                  26885
location                                      8843
everything                                    2453
nothing                                       1297
great location                                1291
the location                                  1187
good location                                 1123
breakfast                                      591
friendly staff                                 545
excellent location                             476
staff                                          418
location and staff                             341
location staff                                 315
location location location                     256
location was good                              243
location was great                             242
everything was perfect                         240
comfy bed                                      225
good breakfast                                 222
perfect location                               212
the staff                                      208
location is great                              204
location is good                               188
clean                                          181
all                                            181
very friendly staff                            178
great breakfast                                171
breakfast was good                             170
every thing                                    161
excellent breakfast                            159
very good location                             158
location was excellent                         152
comfortable bed                                151
location breakfast                             142
location is excellent                          135
cleanliness                                    134
location is perfect                            133
central location                               132
great location friendly staff                  131
location only                                  129
helpful staff                                  126
location and breakfast                         124
great staff                                    123
the bed                                        120
everything was great                           120
location friendly staff                        118
position                                       117
staff and location                             117
friendly helpful staff                         116
not much                                       111
the bed was very comfortable                   109
good location friendly staff                   105
convenient location                            105
staff were excellent                           105
all good                                       103
very friendly and helpful staff                103
location and friendly staff                    102
fantastic location                             102
nice location                                  102
location was perfect                            99
everything was excellent                        99
very helpful staff                              99
excellent staff                                 98
the location is great                           98
staff location                                  97
excellent                                       97
the view                                        95
very comfortable bed                            95
the room                                        95
the location was great                          94
very clean                                      94
staff very friendly                             94
the breakfast                                   92
the location was excellent                      92
friendly and helpful staff                      90
service                                         90
location and cleanliness                        89
the bed was comfy                               89
staff very helpful                              89
breakfast was excellent                         88
the bed was comfortable                         86
perfect                                         86
the location was good                           84
the location of the hotel                       83
only the location                               83
staff very friendly and helpful                 82
room                                            82
the location is excellent                       82
staff were very helpful                         81
staff were friendly                             80
nice staff                                      79
location excellent                              79
location cleanliness                            78
bed                                             77
the location is perfect                         75
breakfast was great                             75
everything was good                             75
bed was comfortable                             73
nice room                                       73
bed was comfy                                   72
great hotel                                     70
location is very good                           70
clean room                                      70
location and comfort                            69
bed was very comfortable                        69
great location and friendly staff               69
nice breakfast                                  68
very good breakfast                             67
good                                            67
all of it                                       66
breakfast was very good                         65
location good                                   64
almost everything                               64
excellent service                               64
yes                                             64
clean and comfortable                           63
value for money                                 63
the location is good                            63
not a lot                                       62
staff were very friendly and helpful            60
nice hotel                                      60
price                                           60
comfy beds                                      60
the staff were very friendly and helpful        60
location and price                              58
very comfy bed                                  58
bed very comfortable                            57
spa                                             57
excellent hotel                                 56
friendly staff great location                   54
view                                            53
only location                                   53
the location was perfect                        53
staff were great                                52
very nice hotel                                 51
lovely staff                                    51
comfortable room                                51
it was clean                                    51
the staff were very helpful                     51
excellent location friendly staff               50
location and facilities                         50
breakfast location                              49
spacious room                                   49
very comfortable                                49
location of hotel                               48
very good                                       48
location of the hotel                           48
friendly staff good location                    47
location and service                            47
location great                                  47
the bed was very comfy                          47
comfortable beds                                47
n a                                             47
the location is very good                       46
the location and the staff                      46
bed very comfy                                  45
bed comfy                                       45
location and room                               45
amazing location                                45
staff were friendly and helpful                 45
comfort                                         45
staff were very helpful and friendly            44
everything is perfect                           43
nothing at all                                  43
bed was very comfy                              43
leaving                                         43
breakfast and location                          42
the breakfast was good                          42
best location                                   42
good location and friendly staff                42
good service                                    42
room size                                       42
food                                            42
comfortable                                     41
good staff                                      41
location was very good                          41
great                                           41
lovely hotel                                    40
location clean                                  40
staff were very friendly                        39
location room                                   39
good value for money                            39
bathroom                                        39
location staff breakfast                        38
the staff were excellent                        38
the staff were very friendly                    38
didn t have breakfast                           37
nothing special                                 37
big room                                        37
design                                          37
location price                                  37
the breakfast was excellent                     37
staff excellent                                 37
great location helpful staff                    36
friendliness of staff                           36
location breakfast staff                        36
staff very helpful and friendly                 36
i like the location                             36
lovely room                                     35
nothing really                                  35
great service                                   35
great value for money                           34
nice rooms                                      34
staff friendly                                  34
decor                                           34
location was ok                                 34
location helpful staff                          34
location comfort                                34
location very good                              34
location is fantastic                           34
the location was very good                      33
very comfortable room                           33
rooms                                           33
room was clean                                  33
facilities                                      32
staff was very helpful                          32
spacious rooms                                  32
lovely breakfast                                32
location perfect                                32
beautiful hotel                                 32
the location only                               32
staff were helpful                              32
i liked the location                            32
quiet room                                      32
very helpful and friendly staff                 31
the service                                     31
the breakfast was very good                     31
amazing                                         31
location and helpful staff                      31
everything is good                              31
friendly staff and good location                31
staff friendly and helpful                      31
none                                            30
breakfast very good                             30
great room                                      30
good location nice staff                        30
excellent location and friendly staff           30
the whole experience                            29
everything was fine                             29
everything perfect                              29
staff were amazing                              29
the staff were friendly                         29
staff was friendly                              29
very friendly helpful staff                     29
location was fantastic                          28
the staff were friendly and helpful             28
no                                              28
location service                                28
convenience                                     28
breakfast is good                               28
everything was amazing                          28
hospitality                                     28
very nice staff                                 27
breakfast was amazing                           27
amazing breakfast                               27
the shower                                      27
bed extra comfy                                 27
loved the location                              27
breakfast was nice                              27
good hotel                                      27
the breakfast was great                         27
close to train station                          26
clean rooms                                     26
breakfast good                                  26
brilliant location                              26
very nice                                       26
size of room                                    26
the staff were very helpful and friendly        26
friendly staff location                         26
breakfast was ok                                26
superb location                                 26
ok                                              26
everthing                                       26
swimming pool                                   25
location room size                              25
the size of the room                            25
great location and staff                        25
clean and tidy                                  25
every things                                    25
everything was just perfect                     25
the friendly staff                              25
quiet                                           25
the staff were amazing                          24
staff helpful                                   24
free wifi                                       24
amazing staff                                   24
the room was nice                               24
clean and modern                                24
very central                                    24
great location very helpful staff               24
did not have breakfast                          24
location and view                               24
the spa                                         24
excellent value for money                       24
the bed was amazing                             24
great location very friendly staff              24
excellent customer service                      23
friendly staff and great location               23
location value for money                        23
the pool                                        23
reception staff                                 23
good location helpful staff                     23
location was amazing                            23
location and the staff                          23
bed was amazing                                 23
bed comfortable                                 23
the bed was really comfortable                  23
clean good location                             23
very good hotel                                 23
wifi                                            22
location is superb                              22
just the location                               22
large room                                      22
location and value for money                    22
the area                                        22
nice                                            22
big rooms                                       22
everything was fantastic                        22
great central location                          22
location location                               22
very comfortable beds                           22
staff were lovely                               22
good location clean                             21
breakfast was lovely                            21
atmosphere                                      21
central                                         21
the staff was very friendly                     21
convenient                                      21
shower                                          21
room was nice                                   21
pool                                            21
great location and helpful staff                21
the room was comfortable                        21
the staff were fantastic                        21
hotel location                                  21
location and clean                              21
no thing                                        21
location is amazing                             21
great staff and location                        21
every thing was perfect                         21
beds very comfortable                           20
the friendliness of the staff                   20
pleasant staff                                  20
breakfast was fantastic                         20
location staff room                             20
location and room size                          20
very comfy beds                                 20
great place                                     20
the room was amazing                            20
very clean and comfortable                      20
location and decor                              20
the staff and the location                      20
the bar                                         20
i liked everything                              20
the bed was extra comfy                         20
very little                                     20
the beds were very comfortable                  20
quiet location                                  20
breakfast was really good                       19
good location good breakfast                    19
friendly staff and location                     19
the rooms                                       19
staff was very friendly                         19
the view was amazing                            19
helpful and friendly staff                      19
cleanliness and location                        19
great location and very friendly staff          19
great location and very helpful staff           19
fantastic breakfast                             19
the decor                                       19
great staff great location                      19
very convenient location                        19
breakfast excellent                             19
good position                                   19
the location was fantastic                      19
absolutely nothing                              19
location and friendliness of staff              19
the bathroom                                    18
service was excellent                           18
location is ok                                  18
beds were very comfortable                      18
bed was great                                   18
nothing in particular                           18
close to metro                                  18
the location is amazing                         18
bed was really comfy                            18
loved everything                                18
great location and value for money              18
beautiful room                                  18
room service                                    18
centrally located                               18

In [53]:
hotels[hotels['positive_review'].str.contains('(^no\s.*|.*\sno$|.*\sno\s.*)')]['positive_review'].value_counts()

C:\Users\f999145\AppData\Local\Temp\ipykernel_15120\2151757911.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  hotels[hotels['positive_review'].str.contains('(^no\s.*|.*\sno$|.*\sno\s.*)')]['positive_review'].value_counts()

positive_review
no positive                                          26885
no thing                                                21
no comment                                              13
no breakfast                                             9
no complaints                                            7
                                                     ...
this is my second review so no more to say exc...        1
enjoyed my week here huge bed close to playa e...        1
great location good bar attached to premises f...        1
the property was recently updated we got an up...        1
great location in the heart of vienna classic ...        1
Name: count, Length: 6266, dtype: Int64

In [12]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import time
nltk.downloader.download('vader_lexicon')

sent_analyzer = SentimentIntensityAnalyzer()

rev1 = "The hotel was very good, I love it!"
rev2 = "It was just horrible, the worst ever."

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\f999145\AppData\Roaming\nltk_data...

In [15]:
pd.Series(sent_analyzer.polarity_scores(rev1))

neg         0.0000
neu         0.3860
pos         0.6140
compound    0.8386
dtype: float64

In [16]:
nltk.download('stopwords')
nltk.download('punkt')

# Удаление пунктуации
def remove_punctuation(text: str):
    import string
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# Убираем стом слова
def remove_stopwords(text: str):
    from nltk.corpus import stopwords
    from nltk.tokenize import word_tokenize
    
    text = text.lower()
    stop_words = set(stopwords.words('english'))
    tokens = word_tokenize(text)
    filtered_text = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_text)

# Нормализуем окончания
def normalize_endings(text: str):
    from nltk.tokenize import word_tokenize
    from nltk.stem import SnowballStemmer
    
    stemmer = SnowballStemmer('english')
    tokens = word_tokenize(text)
    normalized_text = [stemmer.stem(word) for word in tokens]
    return ' '.join(normalized_text)


hotels['negative_review'] = hotels['negative_review'].progress_apply(remove_punctuation)
clear_output()

hotels['negative_review'] = hotels['negative_review'].parallel_apply(remove_stopwords)
clear_output()

hotels['negative_review'] = hotels['negative_review'].parallel_apply(normalize_endings)
clear_output()

hotels['positive_review'] = hotels['positive_review'].progress_apply(remove_punctuation)
clear_output()

hotels['positive_review'] = hotels['positive_review'].parallel_apply(remove_stopwords)
clear_output()

hotels['positive_review'] = hotels['positive_review'].parallel_apply(normalize_endings)
clear_output()

hotels['positive_review'] = hotels['positive_review'].str.split()
hotels['negative_review'] = hotels['negative_review'].str.split()

In [17]:
review_unique_dict = dict(zip(a:=(
                                pd.concat((hotels['positive_review'], hotels['negative_review']), axis=0, ignore_index=True)
                                .explode(ignore_index=True)
                                # .unique()
                                .value_counts()
                                .to_frame()
                                .assign(count=lambda x: x['count']/hotels.shape[0])
                                .query('count > 0.01')
                                .index
                                ),
                              [False]*len(a)
                              ))



def get_dummis_review_table(row: pd.Series, review_unique_dict: dict):
    import pandas as pd
    tmp_dict = review_unique_dict.copy()
    for item in row['positive_review']:
        if item in tmp_dict.keys():
            tmp_dict[item] = True
    for item in row['negative_review']:
        if item in tmp_dict.keys():
            tmp_dict[item] = True
    return pd.Series(tmp_dict)

hotels = pd.concat((hotels, hotels.parallel_apply(get_dummis_review_table, args=(review_unique_dict,), axis=1)), axis=1)
clear_output()
hotels.shape

(386803, 404)

In [18]:
hotels = (
            hotels
            .drop(columns=(
                            (hotels.iloc[:,17:].sum(axis=0)/hotels.shape[0])
                            .to_frame(name='proportion')
                            .query('proportion < 0.01')
                            .index
                        ))
            # .drop(columns=['negative_review', 'positive_review', 'tags'])
        )
hotels.shape

(386803, 384)

In [19]:
cols_bool = (hotels.iloc[:,17:].sum(axis=0)/hotels.shape[0]).to_frame(name='proportion')
cols_bool.to_parquet('data/cols_bool_parquet.gzip', engine='pyarrow', compression='gzip')

### 1.2.5. Работа с адресами.

In [20]:
address_guide = pd.read_parquet('data/address_guide_parquet.gzip')

In [129]:
def _get_json_address(col_value: str, api_key: str) -> str:
    import requests
    import numpy as np
    import pandas as pd
    url = 'https://www.mapquestapi.com/geocoding/v1/address'
    params = {
        'key': api_key,
        'location': col_value,
    }
    
    cols = ['country', 'city', 'Neighborhood']
    
    
    try:
        res = requests.get(url=url, params=params)
    except TimeoutError:
        return pd.Series([np.nan]*len(cols), index=cols)
    except requests.ConnectTimeout:
        return pd.Series([np.nan]*len(cols), index=cols)
    
    tmp = res.json()
    
    country = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('adminArea1')
    # state = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('adminArea3')
    # county = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('adminArea4')
    city = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('adminArea5')
    Neighborhood = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('adminArea6')
    # street = tmp.get('results', [{}])[0].get('locations', [{}])[0].get('street')
    
    return pd.Series([country, city, Neighborhood], index=cols)

In [130]:
tmp = pd.DataFrame(hotels['hotel_address'].unique(), columns=['address'])
address_guide = pd.concat((tmp, tmp['address'].parallel_apply(_get_json_address, args=(api_key_mapquests,))), axis=1)
clear_output()
# Преобразование признаков
for col in address_guide.columns[1:]:
    category_order_list = sorted([x for x in address_guide[col].unique() if not pd.isnull(x)])
    address_guide[col] = address_guide[col].astype('category').cat.set_categories(category_order_list, ordered=True)
address_guide.nunique()

address         1493
country            8
city              14
Neighborhood     219
dtype: int64

In [191]:
address_guide.to_parquet('data/address_guide_parquet.gzip', engine='pyarrow', compression='gzip')

In [21]:
# hotels = hotels.merge(right=address_guide, how='left', left_on='hotel_address', right_on='address').drop(columns=['hotel_address', 'address'])
hotels = hotels.merge(right=address_guide, how='left', left_on='hotel_address', right_on='address').drop(columns='address')

In [29]:
hotels.to_parquet('data/hotels_v3_parquet.gzip', engine='pyarrow', compression='gzip')

# 2. Подготовка данных для модели

In [51]:
hotels = pd.read_parquet('data/hotels_v2_parquet.gzip')

In [43]:
hotels['review_date_from_2015-01-01'] = (hotels['review_date'] - pd.to_datetime('2015-01-01')).dt.days.astype('UInt16')
drop_col_list = list(hotels.select_dtypes('object').columns)
drop_col_list.extend(list(hotels.select_dtypes('string').columns))
drop_col_list.extend(list(hotels.select_dtypes('datetime64[ns]').columns))

hotels = hotels.drop(columns=drop_col_list)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 40 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  UInt16
 1   average_score                               386803 non-null  Float32
 2   hotel_name                                  386803 non-null  category
 3   reviewer_nationality                        386408 non-null  category
 4   review_total_negative_word_counts           386803 non-null  UInt16
 5   total_number_of_reviews                     386803 non-null  UInt16
 6   review_total_positive_word_counts           386803 non-null  UInt16
 7   total_number_of_reviews_reviewer_has_given  386803 non-null  UInt16
 8   reviewer_score                              386803 non-null  Float32
 9   days_since_review                           386803 non-null  UInt16
 10  lat                                         384355 non-null  Float32
 11  lng                                         384355 non-null  Float32
 12  Leisure trip                                386803 non-null  bool
 13  Submitted from a mobile device              386803 non-null  bool
 14  Couple                                      386803 non-null  bool
 15  Stayed 1 night                              386803 non-null  bool
 16  Stayed 2 nights                             386803 non-null  bool
 17  Solo traveler                               386803 non-null  bool
 18  Stayed 3 nights                             386803 non-null  bool
 19  Business trip                               386803 non-null  bool
 20  Group                                       386803 non-null  bool
 21  Family with young children                  386803 non-null  bool
 22  room                                        386803 non-null  bool
 23  staff                                       386803 non-null  bool
 24  locat                                       386803 non-null  bool
 25  hotel                                       386803 non-null  bool
 26  breakfast                                   386803 non-null  bool
 27  good                                        386803 non-null  bool
 28  great                                       386803 non-null  bool
 29  bed                                         386803 non-null  bool
 30  help                                        386803 non-null  bool
 31  friend                                      386803 non-null  bool
 32  clean                                       386803 non-null  bool
 33  nice                                        386803 non-null  bool
 34  comfort                                     386803 non-null  bool
 35  excel                                       386803 non-null  bool
 36  country                                     386803 non-null  category
 37  city                                        386803 non-null  category
 38  Neighborhood                                386803 non-null  category
 39  review_date_from_2015-01-01                 386803 non-null  UInt16
dtypes: Float32(4), UInt16(7), bool(24), category(5)
memory usage: 27.0 MB

In [44]:
for col in hotels.select_dtypes('category').columns:
    hotels[col] = (hotels[col].cat.codes + 1).fillna(0)

hotels = hotels.fillna(0)

In [45]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = hotels.drop(['reviewer_score'], axis = 1)  
y = hotels['reviewer_score']

In [46]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

In [47]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [48]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [49]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.13209802929632247

# 3. EDA

In [10]:
hotels = pd.read_parquet('data/hotels_v3_parquet.gzip')
hotels.shape

(386803, 407)

In [18]:
hotels = hotels.dropna(axis=0)
hotels.isnull().sum().sort_values(ascending=False)

hotel_address    0
manag            0
tram             0
wall             0
ok               0
                ..
modern           0
metro            0
back             0
window           0
Neighborhood     0
Length: 407, dtype: int64

In [51]:
# task 4.2
hotels['hotel_name'].nunique()

1492

In [52]:
# task 4.3
hotels['review_date'].describe()

count                           386803
mean     2016-08-13 14:41:18.712936704
min                2015-08-04 00:00:00
25%                2016-02-23 00:00:00
50%                2016-08-15 00:00:00
75%                2017-02-09 00:00:00
max                2017-08-03 00:00:00
Name: review_date, dtype: object

In [53]:
# task 4.4
hotels['tags'].explode().nunique()

2368

In [54]:
# task 4.5
hotels['tags'].explode().str.strip().value_counts()

tags
Leisure trip                         313593
Submitted from a mobile device       230778
Couple                               189212
Stayed 1 night                       145373
Stayed 2 nights                      100263
                                      ...
Studio with Spa Access                    1
Comfort Family Room                       1
Junior Suite Free Wifi                    1
Design Suite                              1
Executive Double Room Non Smoking         1
Name: count, Length: 2368, dtype: int64

In [12]:
# task 4.6
tmp = (
            hotels['tags']
            .explode()
            .str.strip()
            .value_counts()
            .reset_index()
        )
            
tmp[tmp['tags'].str.contains('(Stayed)', regex=True)].sort_values('count', ascending=False).head(10)

C:\Users\f999145\AppData\Local\Temp\ipykernel_16244\936355434.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  tmp[tmp['tags'].str.contains('(Stayed)', regex=True)].sort_values('count', ascending=False).head(10)

                tags   count
3     Stayed 1 night  145373
4    Stayed 2 nights  100263
6    Stayed 3 nights   72000
10   Stayed 4 nights   35748
17   Stayed 5 nights   15611
22   Stayed 6 nights    7399
26   Stayed 7 nights    5549
53   Stayed 8 nights    1910
76   Stayed 9 nights     966
98  Stayed 10 nights     663

In [31]:
test = hotels.copy()
test = test.drop(columns=['hotel_address', 'negative_review', 'tags', 'positive_review'])
for col in test.select_dtypes('category').columns:
    test[col] = test[col].cat.codes

test = test.fillna(0)

In [32]:
corr_mat = test.corr().stack().reset_index(name="correlation")
corr_mat['correlation_abs'] = corr_mat['correlation'].abs()
# sns.set_style("ticks",{'axes.grid' : True})
# g = sns.relplot(
#                 data=corr_mat,
#                 x="level_0",
#                 y="level_1",
#                 hue="correlation",
#                 size="correlation2",
#                 height=7,
#                 aspect=1.5,
#                 palette="vlag",
#                 edgecolor=".8",
#                 # sizes=(50, 250),
#                 # size_norm=(-.2, .8),
#                 # dashes=True
#                 )
# g.set(xlabel="", ylabel="")
# g.despine(left=True, bottom=True)
# g.ax.margins(.02)
# for label in g.ax.get_xticklabels():
#     label.set_rotation(90)

In [33]:
corr_mat.query('(correlation_abs > 0.7) & (level_0 != level_1)')

,level_0,level_1,correlation,correlation_abs
6,additional_number_of_scoring,total_number_of_reviews,0.824467,0.824467
393,review_date,days_since_review,-1.000000,1.000000
2298,total_number_of_reviews,additional_number_of_scoring,0.824467,0.824467
3831,days_since_review,review_date,-1.000000,1.000000
4999,Leisure trip,Business trip,-0.904145,0.904145
7673,Business trip,Leisure trip,-0.904145,0.904145

In [34]:
corr_mat.query('correlation_abs > 0.5 & correlation_abs <= 0.7')

              level_0        level_1  correlation  correlation_abs
4997     Leisure trip  Solo traveler    -0.509337         0.509337
5763           Couple  Solo traveler    -0.504555         0.504555
6907    Solo traveler   Leisure trip    -0.509337         0.509337
6909    Solo traveler         Couple    -0.504555         0.504555
6914    Solo traveler  Business trip     0.528590         0.528590
7678    Business trip  Solo traveler     0.528590         0.528590
41903           coffe            tea     0.508329         0.508329
53474             air         condit     0.671162         0.671162
56841           money           valu     0.616421         0.616421
59857             tea          coffe     0.508329         0.508329
60279            valu          money     0.616421         0.616421
64159           front           desk     0.538275         0.538275
76001            desk          front     0.538275         0.538275
90910          condit            air     0.671162         0.671162
109512      transport         public     0.563689         0.563689
137016         public      transport     0.563689         0.563689
145921        country           city    -0.556365         0.556365
146303           city        country    -0.556365         0.556365

In [35]:
drop_col = ['additional_number_of_scoring', 'review_date', 'Business trip', 'valu', 'Standard Double or Twin Room', 'Classic Double or Twin Room', 'close', 'back', 'qualiti', 'best', 'high', 'london', 'friend', 'Twin Room', 'stop', 'floor', 'use', 'made']
test = test.drop(columns=drop_col, errors='ignore')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Columns: 365 entries, average_score to Neighborhood
dtypes: Float32(4), UInt16(5), bool(351), int16(3), int8(2)
memory usage: 145.3 MB

# 4. Final

In [36]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели

In [37]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = test.drop(['reviewer_score'], axis = 1)  
y = test['reviewer_score']

In [38]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [39]:
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [40]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.12431063138028595