In [1]:
import pandas as pd

In [29]:
df = pd.read_parquet('data/fin_df_208_parquet.gzip')
df.sort_values('MAPE', ignore_index=True)

                         col_name      MAPE
0    Standard Double or Twin Room  0.126988
1     Classic Double or Twin Room  0.126997
2                           close  0.127008
3                            back  0.127023
4                         qualiti  0.127041
..                            ...       ...
183                          good  0.127489
184                         staff  0.127655
185                         excel  0.127678
186                       everyth  0.128099
187                          noth  0.129273

[188 rows x 2 columns]

In [35]:
df = pd.read_parquet('data/fin_df_parquet.gzip')
df['count'] = df['col_name'].str.len()
df.sort_values('MAPE', ignore_index=True).iloc[0]['col_name']

array(['Standard Double or Twin Room', 'Classic Double or Twin Room',
       'close', 'back', 'qualiti', 'best', 'high', 'london', 'friend',
       'Twin Room', 'stop', 'floor', 'use', 'made'], dtype=object)

In [10]:
def separation_list(input_list: list, sep: int=3) -> list[list[str]]:
    """
        Функция для дробления листа, что бы потом паралельно обрабатывать их паралельно.
        sep: Сколько элементов'.
    """
    out_list = list()
    # chunk_size = input_df.shape[0] // int(100/sep)
    for index in range(0, len(input_list), sep):
        out_list.append(input_list[index:index+sep])
    return out_list

separation_list(a, sep=5)

[[2, 4, 6, 4, 6], [8, 6, 8, 10, 8], [10, 12, 10, 12, 14]]