In [1]:
import pandas as pd

In [2]:
# Создаем DataFrame с столбцом содержащим списки параметров
data = {'parameters': [['param1', 'param2'], ['param3'], ['param1', 'param4']]}
df = pd.DataFrame(data)
df

         parameters
0  [param1, param2]
1          [param3]
2  [param1, param4]

In [3]:
# Разделяем списки параметров на отдельные строки
df_expanded = df.explode('parameters').reset_index(drop=True)
df_expanded

  parameters
0     param1
1     param2
2     param3
3     param1
4     param4

In [5]:
# Преобразуем разделенные значения в отдельные столбцы
df_dummies = pd.get_dummies(df_expanded['parameters'])
df_dummies

   param1  param2  param3  param4
0    True   False   False   False
1   False    True   False   False
2   False   False    True   False
3    True   False   False   False
4   False   False   False    True

In [6]:


# Объединяем полученные столбцы с исходным DataFrame
df_final = pd.concat([df, df_dummies], axis=1)

print(df_final)

         parameters  param1  param2  param3  param4
0  [param1, param2]    True   False   False   False
1          [param3]   False    True   False   False
2  [param1, param4]   False   False    True   False
3               NaN    True   False   False   False
4               NaN   False   False   False    True